{
    "openapi": "3.0.0",
    "info": {
        "title": "PassFort API",
        "version": "4.0.0",
        "contact": {
            "name": "PassFort Support",
            "email": "support@passfort.com"
        }
    },
    "servers": [
        {
            "url": "https://api.passfort.com/4.0",
            "description": "Production server"
        }
    ],
    "x-tagGroups": [
        {
            "name": "Basics",
            "tags": [
                "Profiles",
                "Applications",
                "Checks",
                "Tasks",
                "Search",
                "Document Images",
                "Address Search"
            ]
        },
        {
            "name": "Advanced",
            "tags": [
                "Collect",
                "Audit",
                "Events",
                "Tags",
                "Other"
            ]
        }
    ],
    "components": {
        "securitySchemes": {
            "API_Key_Header": {
                "type": "apiKey",
                "name": "apikey",
                "in": "header"
            },
            "API_Key_Query_Parameter": {
                "type": "apiKey",
                "name": "apikey",
                "in": "query"
            }
        },
        "schemas": {
            "Address": {
                "type": "object",
                "description": "A single address, which can either be a free-form string, or structured data",
                "oneOf": [
                    {
                        "$ref": "#/components/schemas/FreeformAddress"
                    },
                    {
                        "$ref": "#/components/schemas/StructuredAddress"
                    }
                ],
                "title": "Address",
                "discriminator": {
                    "propertyName": "type",
                    "mapping": {
                        "FREEFORM": "#/components/schemas/FreeformAddress",
                        "STRUCTURED": "#/components/schemas/StructuredAddress"
                    }
                }
            },
            "AddressHistory": {
                "description": "A list of addresses in which the individual has lived. Each of these can have an approximate start and end date.  Addresses are ordered by `start_date`. If two addresses have the same `start_date`, `end_date` will order them. An address with no `start_date` and `end_date` will be assumed to be current. If multiple addresses have no `start_date` and `end_date` then their order will be random.",
                "type": "array",
                "items": {
                    "description": "An address with optional start/end dates.",
                    "type": "object",
                    "oneOf": [
                        {
                            "title": "Dated",
                            "properties": {
                                "address": {
                                    "$ref": "#/components/schemas/Address"
                                },
                                "start_date": {
                                    "$ref": "#/components/schemas/ApproxDate"
                                },
                                "end_date": {
                                    "$ref": "#/components/schemas/ApproxDate"
                                }
                            },
                            "required": [
                                "start_date"
                            ]
                        },
                        {
                            "title": "Undated",
                            "properties": {
                                "address": {
                                    "$ref": "#/components/schemas/Address"
                                }
                            },
                            "additionalProperties": false
                        }
                    ],
                    "required": [
                        "address"
                    ]
                },
                "title": "AddressHistory"
            },
            "ApiKey": {
                "type": "object",
                "description": "Api key details",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "A description of the key"
                    },
                    "expiry": {
                        "$ref": "#/components/schemas/DateTime"
                    }
                },
                "title": "ApiKey",
                "nullable": true
            },
            "ApplicationDateField": {
                "type": "string",
                "description": "Application filter date fields",
                "enum": [
                    "APPLIED",
                    "FLAG_CHANGE"
                ],
                "title": "ApplicationDateField"
            },
            "ApplicationFilterType": {
                "type": "string",
                "description": "Application filter type",
                "enum": [
                    "STRING",
                    "STRING_PAIR",
                    "ID",
                    "DATE"
                ],
                "title": "ApplicationFilterType"
            },
            "ApplicationIdField": {
                "type": "string",
                "description": "Application filter id fields",
                "enum": [
                    "PRODUCT",
                    "ASSIGNEE"
                ],
                "title": "ApplicationIdField"
            },
            "ApplicationStringField": {
                "type": "string",
                "description": "Application filter string fields",
                "enum": [
                    "STATUS",
                    "FLAG"
                ],
                "title": "ApplicationStringField"
            },
            "ApprovalBlocker": {
                "type": "object",
                "description": "Blocker preventing the profile application being approved",
                "properties": {
                    "blocker_type": {
                        "$ref": "#/components/schemas/ApprovalBlockerType"
                    }
                },
                "anyOf": [
                    {
                        "$ref": "#/components/schemas/ApprovalBlockerUnresolvedEvent"
                    },
                    {
                        "$ref": "#/components/schemas/ApprovalBlockerSuspendedProfile"
                    },
                    {
                        "$ref": "#/components/schemas/ApprovalBlockerIncompleteTask"
                    },
                    {
                        "$ref": "#/components/schemas/ApprovalBlockerUndeterminedRisk"
                    }
                ],
                "title": "ApprovalBlocker"
            },
            "ApprovalBlockerIncompleteTask": {
                "type": "object",
                "description": "Incomplete Task preventing the profile application being approved",
                "properties": {
                    "blocker_type": {
                        "type": "string",
                        "enum": [
                            "INCOMPLETE_TASK"
                        ],
                        "description": "The nature of the blocker"
                    },
                    "task_type": {
                        "$ref": "#/components/schemas/TaskType"
                    },
                    "task_variant": {
                        "$ref": "#/components/schemas/TaskVariant"
                    }
                },
                "title": "ApprovalBlockerIncompleteTask"
            },
            "ApprovalBlockerSuspendedProfile": {
                "type": "object",
                "description": "Suspended profile preventing the profile application being approved",
                "properties": {
                    "blocker_type": {
                        "type": "string",
                        "enum": [
                            "SUSPENDED_PROFILE"
                        ],
                        "description": "The nature of the blocker"
                    }
                },
                "title": "ApprovalBlockerSuspendedProfile"
            },
            "ApprovalBlockerType": {
                "type": "string",
                "description": "The nature of the blocker",
                "enum": [
                    "INCOMPLETE_TASK",
                    "UNRESOLVED_EVENT",
                    "SUSPENDED_PROFILE",
                    "UNDETERMINED_RISK"
                ],
                "title": "ApprovalBlockerType"
            },
            "ApprovalBlockerUndeterminedRisk": {
                "type": "object",
                "description": "Risk score is undetermined, or stale and pending recalculation",
                "properties": {
                    "blocker_type": {
                        "type": "string",
                        "enum": [
                            "UNDETERMINED_RISK"
                        ],
                        "description": "The nature of the blocker"
                    }
                },
                "title": "ApprovalBlockerUndeterminedRisk"
            },
            "ApprovalBlockerUnresolvedEvent": {
                "type": "object",
                "description": "Unresolved event preventing the profile application being approved",
                "properties": {
                    "blocker_type": {
                        "type": "string",
                        "enum": [
                            "UNRESOLVED_EVENT"
                        ],
                        "description": "The nature of the blocker"
                    },
                    "event_id": {
                        "$ref": "#/components/schemas/UUID"
                    }
                },
                "title": "ApprovalBlockerUnresolvedEvent"
            },
            "ApproxDate": {
                "description": "An approximate date with a year and month, but the exact day is unknown",
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}$",
                "title": "ApproxDate",
                "example": "1999-03"
            },
            "AreaOfActivity": {
                "description": "An area that a business operates in",
                "type": "object",
                "properties": {
                    "location": {
                        "type": "string",
                        "description": "A location that the business operates within"
                    }
                },
                "title": "AreaOfActivity"
            },
            "Associate": {
                "description": "An associate to a PEP or Sanction",
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "Name of the associate"
                    },
                    "association": {
                        "type": "string",
                        "description": "Their association"
                    },
                    "is_pep": {
                        "type": "boolean",
                        "description": "Associate of PEP"
                    },
                    "was_pep": {
                        "type": "boolean",
                        "description": "Was the associate of PEP"
                    },
                    "is_sanction": {
                        "type": "boolean",
                        "description": "Associate of Sanction"
                    },
                    "was_sanction": {
                        "type": "boolean",
                        "description": "Was the associate of Sanction"
                    },
                    "deceased_dates": {
                        "type": "array",
                        "description": "Reported death dates",
                        "items": {
                            "$ref": "#/components/schemas/PartialDate"
                        }
                    },
                    "inactive_as_rca_related_to_pep_dates": {
                        "type": "array",
                        "description": "Dates of relation to PEP cessation",
                        "items": {
                            "$ref": "#/components/schemas/PartialDate"
                        }
                    },
                    "inactive_as_pep_dates": {
                        "type": "array",
                        "description": "Dates of PEP inactivity",
                        "items": {
                            "$ref": "#/components/schemas/PartialDate"
                        }
                    }
                },
                "title": "Associate"
            },
            "AssociatedEntity": {
                "description": "An individual or company associated with another company",
                "type": "object",
                "properties": {
                    "resolver_id": {
                        "$ref": "#/components/schemas/UUID"
                    },
                    "entity_type": {
                        "$ref": "#/components/schemas/EntityType"
                    },
                    "relationship": {
                        "type": "string",
                        "description": "For authorized persons, the relationship they have with the company"
                    },
                    "appointed_on": {
                        "$ref": "#/components/schemas/Date"
                    },
                    "resigned_on": {
                        "$ref": "#/components/schemas/Date"
                    },
                    "original_role": {
                        "type": "string",
                        "description": "For company officers, description of their role within the company"
                    },
                    "total_percentage": {
                        "description": "For shareholders and beneficial owners, the total percentage ownership they have of the company",
                        "type": "number"
                    },
                    "shareholdings": {
                        "type": "array",
                        "description": "For shareholders, a detailed break-down of their ownership by share class",
                        "items": {
                            "$ref": "#/components/schemas/Shareholding"
                        }
                    },
                    "notified_on": {
                        "$ref": "#/components/schemas/Date"
                    },
                    "ceased_on": {
                        "$ref": "#/components/schemas/Date"
                    },
                    "natures_of_control": {
                        "type": "array",
                        "description": "For persons of significant control, the type of control they have on the company",
                        "items": {
                            "type": "string"
                        }
                    },
                    "kind": {
                        "type": "string",
                        "description": "For persons of significant control, the type of person of control (company, person, secure-person etc.)"
                    },
                    "task_variant_ids": {
                        "type": "array",
                        "description": "IDs of the task variants the associated entity relates to",
                        "items": {
                            "$ref": "#/components/schemas/UUID"
                        }
                    }
                },
                "oneOf": [
                    {
                        "type": "object",
                        "properties": {
                            "immediate_data": {
                                "$ref": "#/components/schemas/EntityData"
                            },
                            "provider_name": {
                                "type": "string"
                            }
                        },
                        "required": [
                            "immediate_data"
                        ],
                        "title": "Immediate"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "merged_resolver_ids": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/UUID"
                                }
                            },
                            "linked_profile": {
                                "type": "object",
                                "description": "ID of the associated profile",
                                "properties": {
                                    "id": {
                                        "$ref": "#/components/schemas/UUID"
                                    }
                                }
                            }
                        },
                        "required": [
                            "linked_profile"
                        ],
                        "title": "Linked"
                    }
                ],
                "required": [
                    "entity_type"
                ],
                "title": "AssociatedEntity"
            },
            "AssociatedRole": {
                "description": "Role this associated entity has with the customer",
                "type": "string",
                "enum": [
                    "AUTHORIZED_PERSON",
                    "UNAUTHORIZED_PERSON",
                    "DIRECTOR",
                    "COMPANY_SECRETARY",
                    "SHAREHOLDER",
                    "PARTNER",
                    "TRUSTEE",
                    "BENEFICIAL_OWNER",
                    "RESIGNED_OFFICER",
                    "OTHER"
                ],
                "title": "AssociatedRole"
            },
            "AuditItem": {
                "type": "object",
                "description": "An audit item",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/UUID"
                    },
                    "profileID": {
                        "$ref": "#/components/schemas/UUID"
                    },
                    "action": {
                        "type": "string",
                        "enum": [
                            "added-a-tag",
                            "added-a-task",
                            "added-product",
                            "attach-file",
                            "auto-decision",
                            "risk-auto-reject-application",
                            "comment",
                            "completed-a-task",
                            "completed-stage",
                            "created-profile",
                            "download-audit-file",
                            "download-audit-report",
                            "downloaded-a-document",
                            "event-resolution",
                            "instructed-check",
                            "linked-profile",
                            "manual-decision",
                            "profile-application-status-changed",
                            "removed-a-tag",
                            "replace-collected-data",
                            "requested-data",
                            "revert-decision",
                            "sanctions-false-positive",
                            "submitted-data",
                            "uncompleted-a-task",
                            "unlinked-profile",
                            "updated-check",
                            "uploaded-a-document",
                            "view",
                            "viewed-profile",
                            "event-bulk-resolution",
                            "added-a-task-note",
                            "deleted-a-task-note",
                            "added-a-file",
                            "application-assignment-created",
                            "application-assignment-deleted",
                            "application-assignment-reassigned",
                            "comment-deleted",
                            "added-event",
                            "profile-status-changed",
                            "sanctions-whitelist",
                            "origin-profile-changed",
                            "affiliate-added",
                            "affiliate-removed"
                        ],
                        "description": "Action that took place"
                    },
                    "user": {
                        "$ref": "#/components/schemas/User"
                    },
                    "apikey": {
                        "$ref": "#/components/schemas/ApiKey"
                    },
                    "timestamp": {
                        "type": "number",
                        "description": "A Unix Timestamp of when then action took place"
                    },
                    "message": {
                        "type": "string",
                        "description": "A message giving more details about the action",
                        "nullable": true
                    },
                    "ref_data": {
                        "type": "object",
                        "description": "Miscellaneous data associated with action",
                        "nullable": true
                    },
                    "filename": {
                        "type": "string",
                        "description": "name of associated file",
                        "nullable": true
                    },
                    "filehash": {
                        "type": "string",
                        "description": "Hash of associated file",
                        "nullable": true
                    },
                    "signature": {
                        "type": "string",
                        "description": "Signature of encrypted file",
                        "nullable": true
                    }
                },
                "required": [
                    "id",
                    "profileID",
                    "action",
                    "user",
                    "timestamp",
                    "message",
                    "ref_data",
                    "filename",
                    "signature"
                ],
                "title": "AuditItem"
            },
            "BankAccount": {
                "description": "Details for a bank account",
                "type": "object",
                "properties": {
                    "country": {
                        "$ref": "#/components/schemas/CountryCode"
                    },
                    "type": {
                        "$ref": "#/components/schemas/BankAccountType"
                    }
                },
                "oneOf": [
                    {
                        "$ref": "#/components/schemas/UKBankAccount"
                    }
                ],
                "required": [
                    "type",
                    "country"
                ],
                "title": "BankAccount"
            },
            "BankAccountComment": {
                "description": "Comment emitted during bank account verification",
                "type": "object",
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/BankAccountCommentType"
                    },
                    "message": {
                        "type": "string",
                        "description": "A comment about the bank account"
                    },
                    "component": {
                        "$ref": "#/components/schemas/BankAccountComponent"
                    }
                },
                "required": [
                    "message"
                ],
                "title": "BankAccountComment"
            },
            "BankAccountCommentType": {
                "type": "string",
                "description": "Bank account comment type",
                "enum": [
                    "COMMENT",
                    "MATCH",
                    "MISMATCH",
                    "WARNING"
                ],
                "title": "BankAccountCommentType"
            },
            "BankAccountType": {
                "type": "string",
                "description": "Bank account type",
                "enum": [
                    "UK_ACCOUNT"
                ],
                "title": "BankAccountType"
            },
            "BankAccountComponent": {
                "type": "string",
                "description": "Bank account number component",
                "enum": [
                    "UK_SORT_CODE",
                    "UK_ACCOUNT_NUMBER"
                ],
                "title": "BankAccountComponent"
            },
            "BankAccountVerification": {
                "description": "Bank account verification",
                "type": "object",
                "properties": {
                    "performed_on": {
                        "$ref": "#/components/schemas/DateTime"
                    },
                    "match": {
                        "type": "boolean",
                        "description": "If the bank was verified and is a match"
                    },
                    "bank_account": {
                        "$ref": "#/components/schemas/BankAccount"
                    },
                    "comments": {
                        "description": "Comments",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/BankAccountComment"
                        }
                    }
                },
                "required": [
                    "bank_account",
                    "match",
                    "performed_on",
                    "comments"
                ],
                "title": "BankAccountVerification"
            },
            "Base64": {
                "description": "Binary data encoded in base64 or as a data URI",
                "type": "string",
                "pattern": "^(([a-zA-Z0-9+/]{4})*([a-zA-Z0-9+/]{3}=|[a-zA-Z0-9+/]{2}==)?|[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12})$",
                "title": "Base64"
            },
            "CapabilityType": {
                "description": "The set of capabilities which can be granted in the permissions system",
                "enum": [
                    "ROOT",
                    "EDIT_PROFILE",
                    "READ_PROFILE",
                    "CREATE_PROFILE",
                    "DELETE_PROFILE",
                    "CREATE_ROLE",
                    "EDIT_ROLE",
                    "DELETE_ROLE",
                    "EDIT_PROFILE_COLLECTED_DATA",
                    "READ_PROFILE_COLLECTED_DATA",
                    "READ_PROFILE_COLLECTION_STEPS",
                    "EDIT_PROFILE_COLLECTION_STEPS",
                    "EDIT_DOCUMENT_IMAGE",
                    "READ_DOCUMENT_IMAGE",
                    "UPLOAD_DOCUMENT_IMAGE",
                    "PURCHASE_FILING_DOCUMENT",
                    "CREATE_TASK_NOTE",
                    "DELETE_TASK_NOTE",
                    "CUSTOM_AUTHOR_NOTE",
                    "ASSIGN_PRODUCT_APPLICATION",
                    "READ_PRODUCT_APPLICATION",
                    "CREATE_PRODUCT_APPLICATION",
                    "EDIT_PRODUCT_APPLICATION_STATUS",
                    "CREATE_PROFILE_TASK",
                    "EDIT_CONVERSATION",
                    "RUN_CHECK",
                    "CREATE_PROFILE_TAG",
                    "DELETE_PROFILE_TAG",
                    "READ_TASK",
                    "EDIT_TASK_COMPLETION_STATUS",
                    "MANAGE_PEP_AND_SANCTIONS_MATCHES",
                    "SEARCH",
                    "CREATE_USER",
                    "VIEW_USERS",
                    "VIEW_USER",
                    "EDIT_USER",
                    "EDIT_USER_ROLE",
                    "EDIT_USER_PASSWORD",
                    "EDIT_USER_FILTER_SETS",
                    "VIEW_APPLICATION",
                    "EDIT_PAYMENT",
                    "VIEW_CONFIG",
                    "EDIT_CONFIG",
                    "VIEW_CONFIG_CREDENTIALS",
                    "VIEW_REPORT",
                    "CREATE_REPORT",
                    "DELETE_REPORT",
                    "EDIT_REPORT"
                ],
                "title": "CapabilityType"
            },
            "CheckedDocumentField": {
                "type": "string",
                "description": "Which field(s) were being checked",
                "enum": [
                    "FIELD_GIVEN_NAMES",
                    "FIELD_FAMILY_NAME",
                    "FIELD_DOB",
                    "FIELD_NATIONALITY",
                    "FIELD_EXPIRY",
                    "FIELD_NUMBER",
                    "FIELD_GENDER",
                    "FIELD_ISSUED",
                    "FIELD_ADDRESS",
                    "FIELD_ISSUING_COUNTRY",
                    "FIELD_MRZ"
                ],
                "title": "CheckedDocumentField"
            },
            "CheckResource": {
                "description": "A single check run against a profile",
                "oneOf": [
                    {
                        "$ref": "#/components/schemas/CheckResourceIdentityCheck"
                    },
                    {
                        "$ref": "#/components/schemas/CheckResourceDocumentVerification"
                    },
                    {
                        "$ref": "#/components/schemas/CheckResourceDocumentFetch"
                    },
                    {
                        "$ref": "#/components/schemas/CheckResourcePepsAndSanctionsScreen"
                    },
                    {
                        "$ref": "#/components/schemas/CheckResourceCRABankAccountVerification"
                    },
                    {
                        "$ref": "#/components/schemas/CheckResourceCompanyRegistry"
                    },
                    {
                        "$ref": "#/components/schemas/CheckResourceCompanyCharitiesRegistry"
                    },
                    {
                        "$ref": "#/components/schemas/CheckResourceCompanyOwnership"
                    },
                    {
                        "$ref": "#/components/schemas/CheckResourceCompanyFilings"
                    },
                    {
                        "$ref": "#/components/schemas/CheckResourceCompanyFilingPurchase"
                    },
                    {
                        "$ref": "#/components/schemas/CheckResourceCompanyPepsAndSanctionsScreen"
                    },
                    {
                        "$ref": "#/components/schemas/CheckResourceIndividualManualForm"
                    },
                    {
                        "$ref": "#/components/schemas/CheckResourceCompanyManualForm"
                    },
                    {
                        "$ref": "#/components/schemas/CheckResourceCompanyDocumentVerification"
                    }
                ],
                "title": "CheckResource",
                "discriminator": {
                    "propertyName": "check_type",
                    "mapping": {
                        "IDENTITY_CHECK": "#/components/schemas/CheckResourceIdentityCheck",
                        "DOCUMENT_VERIFICATION": "#/components/schemas/CheckResourceDocumentVerification",
                        "DOCUMENT_FETCH": "#/components/schemas/CheckResourceDocumentFetch",
                        "PEPS_AND_SANCTIONS_SCREEN": "#/components/schemas/CheckResourcePepsAndSanctionsScreen",
                        "CRA_BANK_ACCOUNT_VERIFICATION": "#/components/schemas/CheckResourceCRABankAccountVerification",
                        "COMPANY_REGISTRY": "#/components/schemas/CheckResourceCompanyRegistry",
                        "COMPANY_CHARITIES_REGISTRY": "#/components/schemas/CheckResourceCompanyCharitiesRegistry",
                        "COMPANY_OWNERSHIP": "#/components/schemas/CheckResourceCompanyOwnership",
                        "COMPANY_FILINGS": "#/components/schemas/CheckResourceCompanyFilings",
                        "COMPANY_FILING_PURCHASE": "#/components/schemas/CheckResourceCompanyFilingPurchase",
                        "COMPANY_PEPS_AND_SANCTIONS_SCREEN": "#/components/schemas/CheckResourceCompanyPepsAndSanctionsScreen",
                        "INDIVIDUAL_MANUAL_FORM": "#/components/schemas/CheckResourceIndividualManualForm",
                        "COMPANY_MANUAL_FORM": "#/components/schemas/CheckResourceCompanyManualForm",
                        "COMPANY_DOCUMENT_VERIFICATION": "#/components/schemas/CheckResourceCompanyDocumentVerification"
                    }
                }
            },
            "CheckResourceBase": {
                "description": "A single check run against a profile",
                "type": "object",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/UUID"
                    },
                    "variant": {
                        "$ref": "#/components/schemas/CheckVariant"
                    },
                    "state": {
                        "$ref": "#/components/schemas/CheckState"
                    },
                    "performed_on": {
                        "$ref": "#/components/schemas/DateTime"
                    },
                    "errors": {
                        "type": "array",
                        "description": "An array of errors that occurred when the check was performed. Hopefully empty!",
                        "items": {
                            "$ref": "#/components/schemas/Error"
                        }
                    },
                    "task_ids": {
                        "type": "array",
                        "description": "The tasks related to this check",
                        "items": {
                            "$ref": "#/components/schemas/UUID"
                        }
                    },
                    "instructed_externally": {
                        "type": "boolean",
                        "description": "Whether the check ran externally and contains the formatted result"
                    },
                    "providers": {
                        "type": "array",
                        "description": "An array of records on the providers that were used to run this check",
                        "items": {
                            "type": "object",
                            "properties": {
                                "provider_name": {
                                    "type": "string",
                                    "description": "The name of a provider used to run this check"
                                },
                                "is_monitored": {
                                    "type": "boolean",
                                    "description": "If present, this flag specifies if the result from this provider is monitored."
                                }
                            }
                        }
                    }
                },
                "required": [
                    "check_type"
                ],
                "title": "CheckResourceBase"
            },
            "CheckResourceIndividualManualForm": {
                "description": "Please speak to your account manager for more information.",
                "title": "CheckResourceIndividualManualForm",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CheckResourceBase"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "check_type": {
                                "description": "The type of check being ran",
                                "type": "string",
                                "enum": [
                                    "INDIVIDUAL_MANUAL_FORM"
                                ]
                            },
                            "form_id": {
                                "type": "string",
                                "description": "The ID of the form being filled"
                            },
                            "input_data": {
                                "$ref": "#/components/schemas/IndividualData"
                            },
                            "output_data": {
                                "$ref": "#/components/schemas/IndividualData"
                            },
                            "result": {
                                "type": "string",
                                "enum": [
                                    "Pass",
                                    "Fail"
                                ],
                                "description": "The meaning of the result will depend on your provider and settings"
                            }
                        }
                    }
                ]
            },
            "CheckResourceCompanyManualForm": {
                "description": "Please speak to your account manager for more information.",
                "title": "CheckResourceCompanyManualForm",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CheckResourceBase"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "check_type": {
                                "description": "The type of check being ran",
                                "type": "string",
                                "enum": [
                                    "COMPANY_MANUAL_FORM"
                                ]
                            },
                            "form_id": {
                                "type": "string",
                                "description": "The ID of the form being filled"
                            },
                            "input_data": {
                                "$ref": "#/components/schemas/CompanyData"
                            },
                            "output_data": {
                                "$ref": "#/components/schemas/CompanyData"
                            },
                            "result": {
                                "type": "string",
                                "enum": [
                                    "Pass",
                                    "Fail"
                                ],
                                "description": "The meaning of the result will depend on your provider and settings"
                            }
                        }
                    }
                ]
            },
            "CheckResourceCompanyFilings": {
                "description": "For details refer to [Check Reference](/reference/checks/companies/company-documentation)",
                "title": "CheckResourceCompanyFilings",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CheckResourceBase"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "check_type": {
                                "description": "The type of check being ran",
                                "type": "string",
                                "enum": [
                                    "COMPANY_FILINGS"
                                ]
                            },
                            "input_data": {
                                "$ref": "#/components/schemas/CompanyData"
                            },
                            "output_data": {
                                "$ref": "#/components/schemas/CompanyData"
                            },
                            "result": {
                                "type": "string",
                                "enum": [
                                    "Pass",
                                    "Fail",
                                    "Error"
                                ],
                                "description": "The meaning of the result will depend on your provider and settings"
                            }
                        }
                    }
                ]
            },
            "CheckResourceCompanyFilingPurchase": {
                "description": "For details refer to [Check Reference](/reference/checks/companies/purchase-company-documentation)",
                "title": "CheckResourceCompanyFilingPurchase",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CheckResourceBase"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "check_type": {
                                "description": "The type of check being ran",
                                "type": "string",
                                "enum": [
                                    "COMPANY_FILING_PURCHASE"
                                ]
                            },
                            "source_id": {
                                "type": "string",
                                "description": "The document that you wish to purchase"
                            },
                            "input_data": {
                                "$ref": "#/components/schemas/CompanyData"
                            },
                            "output_data": {
                                "$ref": "#/components/schemas/CompanyData"
                            },
                            "result": {
                                "type": "string",
                                "enum": [
                                    "Pass",
                                    "Fail",
                                    "Error"
                                ],
                                "description": "The meaning of the result will depend on your provider and settings"
                            }
                        }
                    }
                ]
            },
            "CheckResourceCompanyOwnership": {
                "description": "For details refer to [Check Reference](/reference/checks/companies/ownership-check)",
                "title": "CheckResourceCompanyOwnership",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CheckResourceBase"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "check_type": {
                                "description": "The type of check being ran",
                                "type": "string",
                                "enum": [
                                    "COMPANY_OWNERSHIP"
                                ]
                            },
                            "input_data": {
                                "$ref": "#/components/schemas/CompanyData"
                            },
                            "output_data": {
                                "$ref": "#/components/schemas/CompanyData"
                            },
                            "result": {
                                "type": "string",
                                "enum": [
                                    "Pass",
                                    "Fail",
                                    "Error",
                                    "Partial"
                                ],
                                "description": "The meaning of the result will depend on your provider and settings"
                            }
                        }
                    }
                ]
            },
            "CheckResourceCompanyPepsAndSanctionsScreen": {
                "description": "For details refer to [Check Reference](/reference/checks/companies/peps-and-sanctions)",
                "title": "CheckResourceCompanyPepsAndSanctionsScreen",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CheckResourceBase"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "check_type": {
                                "description": "The type of check being ran",
                                "type": "string",
                                "enum": [
                                    "COMPANY_PEPS_AND_SANCTIONS_SCREEN"
                                ]
                            },
                            "input_data": {
                                "$ref": "#/components/schemas/CompanyData"
                            },
                            "output_data": {
                                "type": "object",
                                "properties": {
                                    "sanctions_results": {
                                        "type": "array",
                                        "description": "The returned PEPs and Sanctions",
                                        "items": {
                                            "$ref": "#/components/schemas/CompanySanctionsResult"
                                        }
                                    },
                                    "entity_type": {
                                        "$ref": "#/components/schemas/EntityType"
                                    }
                                },
                                "description": "The resultant output of the check.\n\n**Note**: This was correct at the time the check was performed. Some check types will go out of date over time"
                            },
                            "result": {
                                "type": "string",
                                "enum": [
                                    "Pass",
                                    "Refer",
                                    "PEP",
                                    "Sanction",
                                    "Media",
                                    "Error"
                                ],
                                "description": "The meaning of the result will depend on your provider and settings."
                            }
                        }
                    }
                ]
            },
            "CheckResourceCompanyRegistry": {
                "description": "For details refer to [Check Reference](/reference/checks/companies/registry-check)",
                "title": "CheckResourceCompanyRegistry",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CheckResourceBase"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "check_type": {
                                "description": "The type of check being ran",
                                "type": "string",
                                "enum": [
                                    "COMPANY_REGISTRY"
                                ]
                            },
                            "input_data": {
                                "$ref": "#/components/schemas/CompanyData"
                            },
                            "output_data": {
                                "$ref": "#/components/schemas/CompanyData"
                            },
                            "result": {
                                "type": "string",
                                "enum": [
                                    "Pass",
                                    "Fail",
                                    "Error",
                                    "Refer"
                                ],
                                "description": "The meaning of the result will depend on your provider and settings"
                            }
                        }
                    }
                ]
            },
            "CheckResourceCompanyCharitiesRegistry": {
                "description": "Please contact your account manager for more information.",
                "title": "CheckResourceCompanyCharitiesRegistry",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CheckResourceBase"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "check_type": {
                                "description": "The type of check being ran",
                                "type": "string",
                                "enum": [
                                    "COMPANY_CHARITIES_REGISTRY"
                                ]
                            },
                            "input_data": {
                                "$ref": "#/components/schemas/CompanyData"
                            },
                            "output_data": {
                                "$ref": "#/components/schemas/CompanyData"
                            },
                            "result": {
                                "type": "string",
                                "enum": [
                                    "Pass",
                                    "Fail",
                                    "Error"
                                ],
                                "description": "The meaning of the result will depend on your provider and settings"
                            }
                        }
                    }
                ]
            },
            "CheckResourceCompanyDocumentVerification": {
                "description": "Please contact your account manager for more information.",
                "title": "CheckResourceCompanyDocumentVerification",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CheckResourceBase"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "check_type": {
                                "description": "The type of check being ran",
                                "type": "string",
                                "enum": [
                                    "COMPANY_DOCUMENT_VERIFICATION"
                                ]
                            },
                            "document_id": {
                                "$ref": "#/components/schemas/UUID"
                            },
                            "input_data": {
                                "$ref": "#/components/schemas/CompanyData"
                            },
                            "output_data": {
                                "type": "object",
                                "description": "The resultant output of the check.\n\n**Note**: This was correct at the time the check was performed. Some check types will go out of date over time",
                                "properties": {
                                    "documents": {
                                        "type": "array",
                                        "description": "The documents checked and their results",
                                        "items": {
                                            "$ref": "#/components/schemas/Document"
                                        }
                                    },
                                    "entity_type": {
                                        "description": "Entity type the check was run on",
                                        "type": "string",
                                        "enum": [
                                            "COMPANY"
                                        ]
                                    }
                                }
                            },
                            "result": {
                                "type": "string",
                                "enum": [
                                    "Pass",
                                    "Fail",
                                    "Error"
                                ],
                                "description": "The meaning of the result will depend on your provider and settings"
                            }
                        },
                        "required": [
                            "document_id"
                        ]
                    }
                ]
            },
            "CheckResourceCRABankAccountVerification": {
                "description": "For details refer to [Check Reference](/reference/checks/individuals/bank-account-verification)",
                "title": "CheckResourceCRABankAccountVerification",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CheckResourceBase"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "check_type": {
                                "description": "The type of check being ran",
                                "type": "string",
                                "enum": [
                                    "CRA_BANK_ACCOUNT_VERIFICATION"
                                ]
                            },
                            "input_data": {
                                "$ref": "#/components/schemas/IndividualData"
                            },
                            "output_data": {
                                "type": "object",
                                "description": "The resultant output of the check.\n\n**Note**: This was correct at the time the check was performed. Some check types will go out of date over time",
                                "properties": {
                                    "entity_type": {
                                        "description": "Entity type the check was run on",
                                        "type": "string",
                                        "enum": [
                                            "INDIVIDUAL"
                                        ]
                                    },
                                    "bank_account_verifications": {
                                        "type": "array",
                                        "items": {
                                            "$ref": "#/components/schemas/BankAccountVerification"
                                        }
                                    },
                                    "address_history": {
                                        "$ref": "#/components/schemas/AddressHistory"
                                    }
                                }
                            },
                            "result": {
                                "type": "string",
                                "enum": [
                                    "Pass",
                                    "Fail",
                                    "Error"
                                ],
                                "description": "The meaning of the result will depend on your provider and settings"
                            }
                        }
                    }
                ]
            },
            "CheckResourceDocumentVerification": {
                "description": "For details refer to [Check Reference](/reference/checks/individuals/document-verification)",
                "title": "CheckResourceDocumentVerification",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CheckResourceBase"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "check_type": {
                                "description": "The type of check being ran",
                                "type": "string",
                                "enum": [
                                    "DOCUMENT_VERIFICATION"
                                ]
                            },
                            "document_id": {
                                "$ref": "#/components/schemas/UUID"
                            },
                            "input_data": {
                                "$ref": "#/components/schemas/IndividualData"
                            },
                            "output_data": {
                                "type": "object",
                                "description": "The resultant output of the check.\n\n**Note**: This was correct at the time the check was performed. Some check types will go out of date over time",
                                "properties": {
                                    "documents": {
                                        "type": "array",
                                        "description": "The documents checked and their results",
                                        "items": {
                                            "$ref": "#/components/schemas/Document"
                                        }
                                    },
                                    "entity_type": {
                                        "description": "Entity type the check was run on",
                                        "type": "string",
                                        "enum": [
                                            "INDIVIDUAL"
                                        ]
                                    }
                                }
                            },
                            "result": {
                                "type": "string",
                                "enum": [
                                    "Pass",
                                    "Fail",
                                    "Error"
                                ],
                                "description": "The meaning of the result will depend on your provider and settings"
                            }
                        },
                        "required": [
                            "document_id"
                        ]
                    }
                ]
            },
            "CheckResourceDocumentFetch": {
                "description": "For details refer to [Check Reference](/reference/checks/individuals/document-fetch)",
                "title": "CheckResourceDocumentFetch",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CheckResourceBase"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "check_type": {
                                "description": "The type of check being ran",
                                "type": "string",
                                "enum": [
                                    "DOCUMENT_FETCH"
                                ]
                            },
                            "source": {
                                "description": "The source the document result is being fetched from",
                                "enum": [
                                    "JUMIO",
                                    "ONFIDO"
                                ]
                            },
                            "reference": {
                                "description": "The source's document reference, refer to specific provider documentation",
                                "type": "string"
                            },
                            "input_data": {
                                "$ref": "#/components/schemas/IndividualData"
                            },
                            "output_data": {
                                "type": "object",
                                "description": "The resultant output of the check.\n\n**Note**: This was correct at the time the check was performed. Some check types will go out of date over time",
                                "properties": {
                                    "documents": {
                                        "type": "array",
                                        "description": "The documents checked and their results",
                                        "items": {
                                            "$ref": "#/components/schemas/Document"
                                        }
                                    },
                                    "entity_type": {
                                        "description": "Entity type the check was run on",
                                        "type": "string",
                                        "enum": [
                                            "INDIVIDUAL"
                                        ]
                                    }
                                }
                            },
                            "result": {
                                "type": "string",
                                "enum": [
                                    "Pass",
                                    "Fail",
                                    "Error"
                                ],
                                "description": "The meaning of the result will depend on your provider and settings"
                            }
                        },
                        "required": [
                            "source",
                            "reference"
                        ]
                    }
                ]
            },
            "CheckResourceIdentityCheck": {
                "description": "For details refer to [Check Reference](/reference/checks/individuals/individual-check)",
                "title": "CheckResourceIdentityCheck",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CheckResourceBase"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "check_type": {
                                "description": "The type of check being ran",
                                "type": "string",
                                "enum": [
                                    "IDENTITY_CHECK"
                                ]
                            },
                            "input_data": {
                                "$ref": "#/components/schemas/IndividualData"
                            },
                            "output_data": {
                                "type": "object",
                                "description": "The resultant output of the check.\n\n**Note**: This was correct at the time the check was performed. Some check types will go out of date over time",
                                "properties": {
                                    "credit_ref": {
                                        "$ref": "#/components/schemas/CreditReference"
                                    },
                                    "db_matches": {
                                        "$ref": "#/components/schemas/DatabaseMatches"
                                    },
                                    "electronic_id_check": {
                                        "type": "object",
                                        "description": "The resulting matches of an EKYC check",
                                        "properties": {
                                            "matches": {
                                                "type": "array",
                                                "description": "List of matches for the EKYC check",
                                                "items": {
                                                    "$ref": "#/components/schemas/EKYCMatch"
                                                }
                                            }
                                        },
                                        "required": [
                                            "matches"
                                        ]
                                    },
                                    "entity_type": {
                                        "description": "Entity type the check was run on",
                                        "type": "string",
                                        "enum": [
                                            "INDIVIDUAL"
                                        ]
                                    }
                                }
                            },
                            "result": {
                                "type": "string",
                                "enum": [
                                    "2+2",
                                    "1+1",
                                    "Fail",
                                    "Error"
                                ],
                                "description": "The meaning of the result will depend on your provider and settings"
                            }
                        }
                    }
                ]
            },
            "CheckResourcePepsAndSanctionsScreen": {
                "description": "For details refer to [Check Reference](/reference/checks/individuals/peps-and-sanctions)",
                "title": "CheckResourcePepsAndSanctionsScreen",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CheckResourceBase"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "check_type": {
                                "description": "The type of check being ran",
                                "type": "string",
                                "enum": [
                                    "PEPS_AND_SANCTIONS_SCREEN"
                                ]
                            },
                            "disable_initial_screen": {
                                "type": "boolean",
                                "description": "Defaults to `false`.  If `true` do not perform an initial screen and only monitor"
                            },
                            "disable_monitoring": {
                                "type": "boolean",
                                "description": "Defaults to `false`. If `true` ongoing monitoring will be disabled"
                            },
                            "input_data": {
                                "$ref": "#/components/schemas/IndividualData"
                            },
                            "output_data": {
                                "type": "object",
                                "description": "The resultant output of the check.\n\n**Note**: This was correct at the time the check was performed. Some check types will go out of date over time",
                                "properties": {
                                    "sanctions_results": {
                                        "type": "array",
                                        "description": "The returned PEPs and Sanctions",
                                        "items": {
                                            "$ref": "#/components/schemas/SanctionsResult"
                                        }
                                    },
                                    "entity_type": {
                                        "description": "Entity type the check was run on",
                                        "type": "string",
                                        "enum": [
                                            "INDIVIDUAL"
                                        ]
                                    }
                                }
                            },
                            "result": {
                                "type": "string",
                                "enum": [
                                    "Pass",
                                    "Refer",
                                    "PEP",
                                    "Sanction",
                                    "Media",
                                    "Error"
                                ],
                                "description": "The meaning of the result will depend on your provider and settings."
                            }
                        }
                    }
                ]
            },
            "CheckState": {
                "description": "The progress of the execution of a check",
                "type": "string",
                "enum": [
                    "PENDING",
                    "RUNNING",
                    "COMPLETE"
                ],
                "title": "CheckState"
            },
            "CheckType": {
                "description": "The type of a check run against a profile",
                "type": "string",
                "enum": [
                    "IDENTITY_CHECK",
                    "DOCUMENT_VERIFICATION",
                    "DOCUMENT_FETCH",
                    "PEPS_AND_SANCTIONS_SCREEN",
                    "CRA_BANK_ACCOUNT_VERIFICATION",
                    "COMPANY_REGISTRY",
                    "COMPANY_CHARITIES_REGISTRY",
                    "COMPANY_OWNERSHIP",
                    "COMPANY_FILINGS",
                    "COMPANY_FILING_PURCHASE",
                    "COMPANY_PEPS_AND_SANCTIONS_SCREEN",
                    "INDIVIDUAL_MANUAL_FORM",
                    "COMPANY_MANUAL_FORM",
                    "COMPANY_DOCUMENT_VERIFICATION"
                ],
                "title": "CheckType"
            },
            "CheckVariant": {
                "description": "The identifier of a variant of a check.",
                "type": "object",
                "properties": {
                    "id": {
                        "$ref": "#/components/schemas/UUID"
                    },
                    "name": {
                        "type": "string",
                        "description": "Name of the check variant"
                    }
                },
                "required": [
                    "id"
                ],
                "title": "CheckVariant"
            },
            "CollectionStep": {
                "description": "Collection steps are the data you wish to collect from a profile. In PassFort Collect the fields required to complete the step will be presented to the user. Collection steps are automatically removed from a profile when the data they collect is fulfilled. If a profile has `collection_steps`, all checks instructed on a profile will go into a `PENDING` state until all steps are completed. ",
                "type": "object",
                "properties": {
                    "collection_type": {
                        "$ref": "#/components/schemas/CollectionStepType"
                    }
                },
                "oneOf": [
                    {
                        "$ref": "#/components/schemas/CollectionStepFullName"
                    },
                    {
                        "$ref": "#/components/schemas/CollectionStepDOB"
                    },
                    {
                        "$ref": "#/components/schemas/CollectionStepAddressHistory"
                    },
                    {
                        "$ref": "#/components/schemas/CollectionStepNationality"
                    },
                    {
                        "$ref": "#/components/schemas/CollectionStepDocument"
                    },
                    {
                        "$ref": "#/components/schemas/CollectionStepEmail"
                    },
                    {
                        "$ref": "#/components/schemas/CollectionStepPhoneNumber"
                    }
                ],
                "required": [
                    "collection_type"
                ],
                "title": "CollectionStep",
                "discriminator": {
                    "propertyName": "collection_type",
                    "mapping": {
                        "ADDRESS_HISTORY": "#/components/schemas/CollectionStepAddressHistory",
                        "DOB": "#/components/schemas/CollectionStepDOB",
                        "FULL_NAME": "#/components/schemas/CollectionStepFullName",
                        "NATIONALITY": "#/components/schemas/CollectionStepNationality",
                        "DOCUMENT": "#/components/schemas/CollectionStepDocument",
                        "EMAIL": "#/components/schemas/CollectionStepEmail",
                        "PHONE_NUMBER": "#/components/schemas/CollectionStepPhoneNumber"
                    }
                }
            },
            "CollectionStepAddressHistory": {
                "description": "Collect the profile's current address",
                "title": "CollectionStepAddressHistory",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CollectionStep"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "collection_type": {
                                "type": "string",
                                "enum": [
                                    "ADDRESS_HISTORY"
                                ],
                                "description": "Specifies the data to be collected"
                            }
                        },
                        "required": [
                            "collection_type"
                        ]
                    }
                ]
            },
            "CollectionStepDOB": {
                "description": "Collect the profile's date of birth",
                "title": "CollectionStepDOB",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CollectionStep"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "collection_type": {
                                "type": "string",
                                "enum": [
                                    "DOB"
                                ],
                                "description": "Specifies the data to be collected"
                            },
                            "precision": {
                                "type": "string",
                                "enum": [
                                    "YEAR",
                                    "YEAR_MONTH",
                                    "YEAR_MONTH_DAY"
                                ],
                                "description": "Specify the precision required for date of birth. If unspecified will default to `YEAR_MONTH_DAY`"
                            }
                        },
                        "required": [
                            "collection_type"
                        ]
                    }
                ]
            },
            "CollectionStepDocument": {
                "description": "Collect a document from the profile (which can be used for a document verification)",
                "title": "CollectionStepDocument",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CollectionStep"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "collection_type": {
                                "type": "string",
                                "enum": [
                                    "DOCUMENT"
                                ],
                                "description": "Specifies the data to be collected"
                            },
                            "id": {
                                "$ref": "#/components/schemas/UUID"
                            },
                            "category": {
                                "$ref": "#/components/schemas/DocumentCategory"
                            },
                            "facial_similarity": {
                                "type": "boolean",
                                "description": "Defaults to `false`. If this document is going to be used for a `DOCUMENT_VERIFICATION` that performs a facial similarity check, enabling this will ask the user to upload a photo of themselves in addition to their document"
                            },
                            "allowed_types": {
                                "type": "array",
                                "description": "Specifies the types of document that are accepted. These will be presented as options to the user completing the step",
                                "items": {
                                    "$ref": "#/components/schemas/DocumentType"
                                }
                            }
                        },
                        "required": [
                            "collection_type",
                            "category",
                            "allowed_types"
                        ]
                    }
                ]
            },
            "CollectionStepEmail": {
                "description": "Collect the profile's email",
                "title": "CollectionStepEmail",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CollectionStep"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "collection_type": {
                                "type": "string",
                                "enum": [
                                    "EMAIL"
                                ],
                                "description": "Specifies the data to be collected"
                            }
                        },
                        "required": [
                            "collection_type"
                        ]
                    }
                ]
            },
            "CollectionStepFullName": {
                "description": "Collect the profile's full name",
                "title": "CollectionStepFullName",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CollectionStep"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "collection_type": {
                                "type": "string",
                                "enum": [
                                    "FULL_NAME"
                                ],
                                "description": "Specifies the data to be collected"
                            }
                        },
                        "required": [
                            "collection_type"
                        ]
                    }
                ]
            },
            "CollectionStepNationality": {
                "description": "Collect the profile's nationality",
                "title": "CollectionStepNationality",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CollectionStep"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "collection_type": {
                                "type": "string",
                                "enum": [
                                    "NATIONALITY"
                                ],
                                "description": "Specifies the data to be collected"
                            }
                        },
                        "required": [
                            "collection_type"
                        ]
                    }
                ]
            },
            "CollectionStepPhoneNumber": {
                "description": "Collect the profile's phone number",
                "title": "CollectionStepPhoneNumber",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CollectionStep"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "collection_type": {
                                "type": "string",
                                "enum": [
                                    "PHONE_NUMBER"
                                ],
                                "description": "Specifies the data to be collected"
                            }
                        },
                        "required": [
                            "collection_type"
                        ]
                    }
                ]
            },
            "CollectionStepType": {
                "description": "Specifies the data to be collected",
                "type": "string",
                "enum": [
                    "FULL_NAME",
                    "DOB",
                    "ADDRESS_HISTORY",
                    "NATIONALITY",
                    "DOCUMENT",
                    "EMAIL",
                    "PHONE_NUMBER"
                ],
                "title": "CollectionStepType"
            },
            "CompanyAddress": {
                "type": "object",
                "description": "Address associated with the company",
                "properties": {
                    "type": {
                        "$ref": "#/components/schemas/CompanyAddressType"
                    },
                    "address": {
                        "$ref": "#/components/schemas/Address"
                    }
                },
                "title": "CompanyAddress"
            },
            "CompanyAddressType": {
                "type": "string",
                "description": "Type of address",
                "enum": [
                    "registered_address",
                    "branch_address",
                    "head_office_address",
                    "contact_address"
                ],
                "title": "CompanyAddressType"
            },
            "CompanyCharityData": {
                "description": "Information on the company as a charitable entity",
                "type": "object",
                "properties": {
                    "activities": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "How the charity works"
                    },
                    "beneficiaries": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "Who the charity helps"
                    },
                    "purposes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "What the charity does"
                    },
                    "number_of_volunteers": {
                        "type": "number",
                        "description": "The number of volunteers at the charity"
                    },
                    "registration_date": {
                        "$ref": "#/components/schemas/Date"
                    }
                },
                "title": "CompanyCharityData"
            },
            "CompanyContactDetails": {
                "description": "Phone number and email address",
                "type": "object",
                "properties": {
                    "phone_number": {
                        "type": "string",
                        "description": "A contact phone number for the company"
                    },
                    "url": {
                        "type": "string",
                        "description": "The company's website"
                    },
                    "email": {
                        "type": "string",
                        "description": "A contact email address for the company"
                    }
                },
                "title": "CompanyContactDetails"
            },
            "CompanyData": {
                "description": "Top-level data structure for companies",
                "title": "CompanyData",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/EntityDataBase"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "entity_type": {
                                "type": "string",
                                "enum": [
                                    "COMPANY"
                                ],
                                "description": "You must include set the entity_type as `COMPANY` to distinguish CompanyData from other types of EntityData"
                            },
                            "metadata": {
                                "$ref": "#/components/schemas/CompanyMetadata"
                            },
                            "authorized_persons": {
                                "description": "List of people authorized to submit information regarding the company",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/AssociatedEntity"
                                }
                            },
                            "unauthorized_persons": {
                                "description": "List of people no longer authorized to submit information regarding the company",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/AssociatedEntity"
                                }
                            },
                            "ownership_structure": {
                                "$ref": "#/components/schemas/OwnershipStructure"
                            },
                            "officers": {
                                "$ref": "#/components/schemas/Officers"
                            },
                            "filings": {
                                "description": "List of documents filed by the company with the registry",
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/CompanyFiling"
                                }
                            },
                            "charity_data": {
                                "$ref": "#/components/schemas/CompanyCharityData"
                            }
                        }
                    }
                ]
            },
            "CompanyDocument": {
                "description": "Details of a company document",
                "type": "object",
                "properties": {
                    "document": {
                        "$ref": "#/components/schemas/Document"
                    },
                    "type": {
                        "$ref": "#/components/schemas/DocumentType"
                    }
                },
                "anyOf": [
                    {
                        "$ref": "#/components/schemas/CompanyFiling"
                    }
                ],
                "title": "CompanyDocument"
            },
            "CompanyFiling": {
                "description": "Details of a company filing",
                "anyOf": [
                    {
                        "required": [
                            "price"
                        ]
                    },
                    {
                        "required": [
                            "document"
                        ]
                    }
                ],
                "title": "CompanyFiling",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/CompanyDocument"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "source_id": {
                                "type": "string",
                                "description": "Document identifier provided by `source`"
                            },
                            "date_of_filing": {
                                "$ref": "#/components/schemas/Date"
                            },
                            "description": {
                                "type": "string",
                                "description": "Description of company filing"
                            },
                            "resolution_descriptions": {
                                "type": "array",
                                "description": "Descriptions for company resolutions, this will only be available if the document filing type is `RESOLUTION`",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "source": {
                                "type": "string",
                                "description": "Source of company filing, for example `Companies House (UK)`"
                            },
                            "error": {
                                "$ref": "#/components/schemas/Error"
                            },
                            "price": {
                                "type": "integer",
                                "description": "If the document is not free it can be purchased for this price using a `COMPANY_FILING_PURCHASE` check"
                            }
                        },
                        "required": [
                            "source_id"
                        ]
                    }
                ]
            },
            "TaxIdType": {
                "description": "Types of companies tax identifiers",
                "type": "string",
                "enum": [
                    "EUROVAT",
                    "VAT",
                    "EIN"
                ],
                "title": "TaxIdType"
            },
            "TaxId": {
                "description": "Companies tax identifiers",
                "type": "object",
                "properties": {
                    "tax_id_type": {
                        "$ref": "#/components/schemas/TaxIdType"
                    },
                    "value": {
                        "type": "string",
                        "description": "Tax identifier value"
                    }
                },
                "required": [
                    "tax_id_type",
                    "value"
                ],
                "title": "TaxId"
            },
            "CompanyMetadata": {
                "type": "object",
                "description": "Collected data for a company",
                "properties": {
                    "number": {
                        "type": "string",
                        "description": "The identifier given to the company by the company register on which it is registered.\n\nFor example PassFort's company number is [09565115](https://beta.companieshouse.gov.uk/company/09565115).\n\nData providers expect this number to be in a certain format, which depends on the jurisdiction and provider.\n\nTo ensure that you have the correct number for your provider the [company search](/developer/v4/api-reference/Search/search-companies) feature can be used."
                    },
                    "bvd_id": {
                        "type": "string",
                        "description": "Bureau van Dijk identifier"
                    },
                    "bvd9": {
                        "type": "string",
                        "description": "Bureau van Dijk 9 identifier"
                    },
                    "isin": {
                        "type": "string",
                        "description": "International Securities Identification Number"
                    },
                    "lei": {
                        "type": "string",
                        "description": "Global Legal Entity Identifier"
                    },
                    "uk_charity_commission_number": {
                        "type": "string",
                        "description": "UK Charities Commission Number"
                    },
                    "tax_ids": {
                        "type": "array",
                        "description": "Tax identifiers",
                        "items": {
                            "$ref": "#/components/schemas/TaxId"
                        }
                    },
                    "name": {
                        "type": "string",
                        "description": "The legal name of the company.\n\nThese are not guaranteed to be unique in some jurisdictions, and so PassFort uses the company jurisdction + number as the canonical company identifier.\n\nRather than fetching this from the company, it's often better parctise to get this from a basic or advanced registry check"
                    },
                    "previous_names": {
                        "description": "Previous names of the company",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PreviousName"
                        }
                    },
                    "addresses": {
                        "description": "List of addresses associated with the company",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CompanyAddress"
                        }
                    },
                    "country_of_incorporation": {
                        "$ref": "#/components/schemas/CountryCode"
                    },
                    "state_of_incorporation": {
                        "type": "string",
                        "description": "This is required for companies in the USA and Canada",
                        "nullable": true
                    },
                    "jurisdiction": {
                        "type": "string",
                        "description": "The jurisdiction in which the company was incorporated, in the event that there are multiple possible jurisdictions"
                    },
                    "areas_of_activity": {
                        "type": "array",
                        "description": "The areas in which the business operates",
                        "items": {
                            "$ref": "#/components/schemas/AreaOfActivity"
                        }
                    },
                    "description": {
                        "type": "string",
                        "description": "A free text description of the businesses activities"
                    },
                    "number_of_employees": {
                        "type": "number",
                        "description": "The number of employees in the business"
                    },
                    "registry": {
                        "type": "string",
                        "description": "The name of the registry in which the company information was found"
                    },
                    "sic_codes": {
                        "type": "array",
                        "description": "A list of SIC codes describing the industries with which the company is concerned",
                        "items": {
                            "$ref": "#/components/schemas/SicCode"
                        }
                    },
                    "is_active": {
                        "type": "boolean",
                        "description": "Whether the company is still active"
                    },
                    "contact_details": {
                        "$ref": "#/components/schemas/CompanyContactDetails"
                    },
                    "incorporation_date": {
                        "$ref": "#/components/schemas/Date"
                    },
                    "company_type": {
                        "type": "string",
                        "description": "Company type identifier, as given by the provider, indicating the kind of liability its members are exposed to and whether it is publically traded"
                    },
                    "structured_company_type": {
                        "type": "object",
                        "description": "Structured fields indicating the kind of liability its members are exposed to, the ownership structure, and whether it is publically traded",
                        "properties": {
                            "is_public": {
                                "type": "boolean",
                                "description": "Whether the company is publically or privately traded"
                            },
                            "is_limited": {
                                "type": "boolean",
                                "description": "What kind of liability the company's members are exposed to"
                            },
                            "ownership_type": {
                                "description": "Which ownership structure is employed by the company",
                                "type": "string",
                                "enum": [
                                    "PARTNERSHIP",
                                    "COMPANY",
                                    "SOLE_PROPRIETORSHIP",
                                    "ASSOCIATION",
                                    "TRUST",
                                    "OTHER"
                                ]
                            }
                        }
                    },
[...]
